*.aux
*.lof 
*.log 
*.lot 
*.toc 
*.bbl 
*.blg 
*~ 
*.out 
*.xml 
*blx.bib
*bak
*gz
*.DS_Store
chapters_sent_to_aurelio/
main.pdf
*_v0.pdf
*_v1.pdf
feynman/*.pdf
test_plots/
thesis_current.pdf
*#*
main.glg
main.glo
main.gls
main.ist

